.nav {
  position: fixed;
  top: 40px;
  left: 85px;
  z-index: 10;
  width: 89vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__logo {
    &:link,
    &:visited{
      -webkit-background-clip: text;
    color: transparent;
    background-image: radial-gradient(50% 50% at 50% 50%, #FDF796 0%, #AE6E12 100%);
      font-family: Dancing Script;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
    }
  }

  &__list {
    width: 39%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  }

  &__link {
    &:link,
    &:visited{
      font-family: $font-fam-pri;
font-size: 36px;
font-style: normal;
font-weight: 300;
line-height: 54px;
letter-spacing: 0em;
text-align: left;
    color: $color-primary-darkest;
    text-decoration: none;
    }
  }
}
