.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    &__text{
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 68px;

        &--intro-text {
            margin-bottom: 78px;
        }

        &--text-1{
            font-size: 12rem;
        }
        &--text-2{
            font-size: 10rem;
        }
        &--text-3{
            font-size: 8rem;
        }
        &--text-3{
            font-size: 6rem;
        }
        &--text-4{
            font-size: 4rem;
        }
        &--link {
            &:link,
            &:visited{
                text-decoration: none;
                font-family: Montserrat;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 600;
                line-height: 37px;
                letter-spacing: 0em;
                text-align: center;
                color: $color-primary-darker;
            }
        }
    }

    &__img {
        width: 50%;
        height: 100vh;
        background: linear-gradient(90deg, #FFFFFF 0%, rgba(107, 37, 37, 0) 100%), url("./img/user.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

